######################################
# Build outputs
######################################
/Debug/
/Release/
/build/
*.elf
*.map
*.hex
*.bin
*.o
*.d
*.su
*.lst
*.i

######################################
# STM32CubeIDE / Eclipse
######################################
.metadata/
.settings/
*.launch


######################################
# CubeIDE generated local files
######################################
/Core/Startup/*.o
/Core/Startup/*.d

######################################
# IDE / editor junk
######################################
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

######################################
# OS junk
######################################
.DS_Store
Thumbs.db

######################################
# Debug / trace dumps
######################################
*.log
*.trace
*.svd.bak

######################################
# User-specific files
######################################
*.user
*.userprefs

